*{
    font-family: 'Roboto';
}


/* Rectangle 1 */
.header{

height: 110px;
left: 0px;
top: 29px;

background: #FFFFFF;
}

/* Restaurant & Lounge */
.restaurant{
font-family: 'Rochester' ;
font-style: normal;
font-size: 48px;
color: #000000;
}


/* Rectangle 2 */
.nav_menu{
 
height: 81px;
left: 0px;
top: 514px;

background: #333A40;

}
.nav_text{
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #FFFFFF !important;
}
/* Drinks & Sides */

.category{
 

height: 35px;
left: calc(50% - 1410px/2 + 15px);
top: calc(50% - 35px/2 + 103.5px);

 
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 35px;
text-align: center;

color: #000000;
}


/* unsplash:LV2p9Utbkbw */
.banner{
 
height: 344px;
left: 0px;
top: 149px;

background: url("./image/banner.jpg");
}

/* image 1 */
.shop{
 
align-items: flex-end;

background: url(image.png);
}

/* Line 1 */
.linea1{
border: 1px solid #000000;
}


/* Rectangle 10 */
.product_box{
 
width: 262px;
height: 327px;

align-items: center;
border: 1px solid rgba(0, 0, 0, 0.11);
box-sizing: border-box;
}

/* Line 4 */
.linea4{

top: 665px;
text-align: center;
border: 1px solid #000000;
}

/* unsplash:XdNgE6NIHp4 */
.image{
 
width: 175px;
height: 130px;
left: 228px;
top: 692px;


align-items: center;
}
/* Veggie Burguer */
.name{

font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
text-align: center;

color: #000000;
}


/* Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor inciostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. */
.description{

text-align: center;
 
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 14px;

color: #000000;


}
/* $10.23 */
.price{ 
text-align: center;
font-style: normal;
font-weight: 800;
font-size: 12px;
line-height: 14px;
/* identical to box height */

color: #000000;
}


/* Rectangle 11 */
.add_to_cart{
 
width: 96px;
height: 33px;
left: 265px;
top: 960px;

background: #F2A950;
border: 1px solid #CCCCCC;
box-sizing: border-box;
}

/* Add to cart */
.add_text{
text-align: center;
font-style: normal;
font-weight: 700;
font-size: 12px;
/* identical to box height */

color: #000000;
}



/* Contact us: +57 3102171020 - info@restaurant.com - @restaurant */
.footer{

font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 14px;
text-align: center;

color: #000000;
}